<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Login - EurecaAI</title>
</head>
<body>
    <header>
        <h1>Login EurecaAI</h1>
    </header>
    <main>
        <section>
            <article>
                <div class="login_container">
                    <h2 class="title_login_container">Faça login no Controle Acadêmico</h2>
                    <div class="credentials">
                        <label for="login" class="credentials_login_container_text">Login</label>
                        <input type="text" id="login" class="input_field" placeholder="Digite seu login">
                    </div>
                    <div class="credentials">
                        <label for="password" class="credentials_login_container_text">Senha</label>
                        <input type="password" id="password" class="input_field" placeholder="Digite sua senha">
                    </div>
                    <button class="login_button">Fazer Login</button>
                </div>                
            </article>
        </section>
    </main>
</body>
</html>