<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/politica_termos.css">
    <link rel="icon" type="image/png" href="../static/images/ufcg.png">
    <title>EurecaAI - Termos de serviço</title>
    <link/>
</head>
<body>
    <header>
        <img src="../static/images/Eureca_AI_logo.png" onClick="window.location.href='/'"/>
    </header>
    <main class="flex-duo">
        <section class="card">
            <article>
                <h1>Termos de Serviço</h1>
            </article>
            <article>
                <p class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facere omnis, possimus non alias iure atque natus aliquam quidem iste quo accusantium ab impedit voluptate vitae ipsum soluta quae veritatis. 
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, aut nobis fugiat nulla amet sequi recusandae earum quasi non consequatur ipsam sint veniam tenetur! Hic excepturi distinctio aliquid ipsam tempora?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam dolorum voluptatum consequuntur ratione sequi laudantium minus quo voluptas? Suscipit quae vel sit cumque! Nobis explicabo laborum necessitatibus reprehenderit ipsam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nihil officiis distinctio molestiae corrupti repellendus saepe voluptate ut unde hic non quas ipsa, doloremque porro eius at quod sunt. Fuga!
                
                </p>
            </article>
        </section>
        <section class="card">
            <article>
                <h1>Política de Privacidade</h1>
            </article>
            <article>
                <p class="texto">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa facere omnis, possimus non alias iure atque natus aliquam quidem iste quo accusantium ab impedit voluptate vitae ipsum soluta quae veritatis. 
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, aut nobis fugiat nulla amet sequi recusandae earum quasi non consequatur ipsam sint veniam tenetur! Hic excepturi distinctio aliquid ipsam tempora?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quisquam dolorum voluptatum consequuntur ratione sequi laudantium minus quo voluptas? Suscipit quae vel sit cumque! Nobis explicabo laborum necessitatibus reprehenderit ipsam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni nihil officiis distinctio molestiae corrupti repellendus saepe voluptate ut unde hic non quas ipsa, doloremque porro eius at quod sunt. Fuga!
                
                </p>
            </article>
        </section>
    </main>
    <!--
    <main>
        <section>
            <article>
                <p class="texto-azul">
                    Atenciosamente, desenvolvedores do Eureca!
                </p>
            </article>
        </section>
    </main>
    -->
    <footer>
        <p class="texto-azul">&copy; 2025 UFCG - Todos os direitos reservados.</p>
    </footer>
</body>
</html>