flask
dotenv
langchain_core
langchain_openai
langchain_ollama
fastapi
uvicorn
strawberry-graphql
numpy
langchain
langchain_community
langchain_nvidia_ai_endpoints
langchain_groq
langgraph==0.2.59
SpeechRecognition
pydub
sentence-transformers
transformers
tokenizers
huggingface_hub
langchain_huggingface
faker
IPython
langchain_google_genai
flask-socketio
eventlet
psycopg