flask
dotenv
langchain_core
langchain_openai
langchain_ollama
fastapi
uvicorn
strawberry-graphql
numpy
langchain
langchain_community
langchain_nvidia_ai_endpoints
langchain_groq
langgraph==0.2.59
SpeechRecognition
pydub
sentence-transformers
transformers
tokenizers
huggingface_hub
langchain_huggingface
faker
IPython
langchain_google_genai
vanna
langgraph-checkpoint==2.0.26
langgraph-checkpoint-postgres==2.0.21
flask-socketio
eventlet
psycopg
asyncpg
aiohttp
quart
PyMuPDF
hypercorn
opik