* {
    margin: 0;
    padding: 0;
    color: black;
    cursor: default;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-size: 20px 20px;
    background-image:
        linear-gradient(to right, rgb(231, 231, 231) 1px, transparent 1px),
        linear-gradient(to bottom, rgb(231, 231, 231) 1px, transparent 1px);
    background-color: rgb(251, 251, 255);
    font-family: Arial, Helvetica, sans-serif; /*depois mudar pras fontes do eureca*/
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

header img {
    height: 100%;
    cursor: pointer;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin-top: 3%;
}

.flex-duo{
    display: flex;
    flex-direction: row;
    padding-left: 20%;
    padding-right: 20%;
    column-gap: 5%;
}

.card{
    background-color: white;
    padding: 20px 20px;
    border-width: 1px;
    border-color: rgba(75, 79, 84, 0.1);
    border-style: solid;
    border-radius: 4px;
    box-shadow: 0.1px 4px 4px rgba(75, 79, 84, 0.2);
}

.texto{
    color: #4B4F54;
}

.texto-azul{
    color: #00205B;
}

main > section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

main > section > article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > section:nth-child(1) > article:nth-child(1),
main > section:nth-child(2) > article:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

main > section:nth-child(1) > article:nth-child(1),
main > section:nth-child(2) > article:nth-child(1) {
    min-height: calc(100% - 100px);
}

main > section:nth-child(1) > article:nth-child(1) > h1,
main > section:nth-child(2) > article:nth-child(1) > h1 {
    font-weight: bold;
    font-size: 2rem;
    color: #1a4e8ae8;
}

main > section:nth-child(1) > article:nth-child(3) > p,
main > section:nth-child(2) > article:nth-child(3) > p {
    font-weight: bold;
    font-size: 1rem;
}

main > section:nth-child(3) {
    height: 100px;
}

main > section:nth-child(3) > article {
    display: flex;
    flex-grow: 1;
}

main > section:nth-child(3) > article:nth-child(1) > p {
    text-decoration: underline;
}

main > section:nth-child(3) > article:nth-child(1) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 1rem;
    color: black;
}

main > section:nth-child(3)  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
    margin: 30px;
}

@media (min-width: 0px) and (max-width: 500px) {
    main > section {
        width: 100%;
        box-sizing: border-box;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
    }

    main > section:nth-child(1) > article:nth-child(1),
    main > section:nth-child(2) > article:nth-child(1) {
        height: 160px;
    }

    main > section:nth-child(3)  {
        width: 90%;
    }

    main > section:nth-child(1) > article:nth-child(1) > h1,
    main > section:nth-child(2) > article:nth-child(1) > h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }


    main > section:nth-child(3) > article:nth-child(1) > p {
        text-decoration: underline;
        font-size: 15px;
    }

    footer p {
        font-size: 15px;
    }
}